<app-header></app-header>
<div class="container">
  <div class="row">

    <div class="col">

      <div class="infos">
        <h3 class="text-success mb-5">Informações do Funcionário</h3>
        <div class="mb-3">
          <label for="func_nome" class="form-label text-success" >Nome do Funcionário</label>
          <input type="text" class="form-control" id="func_nome" name="func_nome" [(ngModel)]="funcionario.func_nome" readonly>
        </div>
        <div class="mb-4">
          <label for="func_cidade" class="form-label text-success" >Cidade do Funcionário</label>
          <input type="text" class="form-control" id="func_cidade" name="func_cidade" [(ngModel)]="funcionario.func_cidade" readonly>
        </div>
        <div class="d-flex justify-content-center">
          <button class="btn btn-sm btn-success" routerLink="/funcionarios/list">Voltar</button>
        </div>
      </div>

    </div>
    <div class="col">

      <div class="infos">
        <h3 class="text-success mb-5">Projeto do(a) Funcionário(a) {{funcionario.func_nome}} </h3>
        <div class="mb-2">
          <label for="ger_nome" class="form-label text-success">Projeto</label>
          <input type="text" class="form-control" name="ger_nome" [(ngModel)]="cargo.car_nome" readonly>
        </div>
        <div class="mb-2">
          <label for="ger_nome" class="form-label text-success">Descrição</label>
          <input type="text" class="form-control" name="ger_nome" [(ngModel)]="cargo.car_atribuicao" readonly>
        </div>
        <form>
          <div class="mb-2">
            <label for="" class="form-label text-success">Alterar Projeto deste Funcionário</label>

            <select class="form-select" [(ngModel)]="cargo" name="cargo" (ngModelChange)="mostrarCargo()" name="gerenteSemCargoEscolhido">

            <option *ngFor="let item of cargos" [ngValue]="item">{{item.car_nome}}</option>
            </select>

          </div>
          <div class="d-flex justify-content-center mt-4">
            <button class="btn btn-sm btn-success" (click)="atribuirCargoAoFuncionario()">Salvar</button>
            <button class="btn btn-sm btn-success mx-3" type="reset">Limpar</button>
            <button class="btn btn-sm btn-success mx-5" data-bs-toggle="modal" data-bs-target="#staticBackdrop" (click)="mostrarModal(cargo)">Deixar Funcionário sem Projeto</button>
            <div *ngIf="modal" class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">Deleção de Projeto</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    <p>Tem certeza que gostaria de remover o Projeto do Funcionario?</p>
                    <p><span class="fw-bold mx-2">Cargo:</span>{{nomeModal}}</p>
                    <p><span class="fw-bold mx-2">Descrição:</span>{{atribuicaoModal}}</p>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-sm btn-success" data-bs-dismiss="modal">Não Remover Projeto</button>
                    <button type="button" class="btn btn-sm btn-danger" data-bs-dismiss="modal" (click)="deixarFuncionarioSemCargo()">Remover Projeto</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

