<app-header></app-header>
<div class="container">
  <div class="row">
    <div class="col">
      <div class="menu" routerLink="/cargo/list">Lista de Projetos</div>
    </div>
    <div class="col">
      <div class="menu" routerLink="/cargo/add">Adicionar Projetos</div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="menu" routerLink="/funcionarios/list">Lista de Funcionários</div>
    </div>
    <div class="col">
      <div class="menu" routerLink="/funcionarios/add">Adicionar Funcionário</div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="menu" routerLink="/gerentes/list">Lista de Líderes</div>
    </div>
    <div class="col">
      <div class="menu" routerLink="/gerentes/add">Adicionar Líder</div>
    </div>
  </div>
</div>
